name: Build and Push cli2rest-rnapolis image

on:
  schedule:
    # Run daily at 1:00 UTC
    - cron: '0 1 * * *'
  workflow_dispatch:  # Allow manual triggering
  pull_request:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract RNAPOLIS version
        id: get_version
        run: |
          VERSION=$(grep 'rnapolis==' rnapolis/requirements.txt | cut -d'=' -f3)
          echo "Extracted RNAPOLIS version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check if target tag already exists in GHCR
        id: check_tag
        if: github.event_name != 'pull_request'
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "Manual trigger detected. Forcing rebuild."
            echo "should_build=true" >> $GITHUB_OUTPUT
            exit 0
          fi
          
          TARGET_TAG="ghcr.io/tzok/cli2rest-rnapolis:${{ steps.get_version.outputs.version }}"
          
          if docker manifest inspect "$TARGET_TAG" > /dev/null; then
            echo "Image $TARGET_TAG already exists. Skipping build."
            echo "should_build=false" >> $GITHUB_OUTPUT
          else
            echo "Image $TARGET_TAG not found. Proceeding with build."
            echo "should_build=true" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Build and Push Docker image
        if: github.event_name == 'pull_request' || steps.check_tag.outputs.should_build == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./rnapolis
          push: ${{ github.event_name != 'pull_request' }}
          load: true
          tags: |
            ${{ github.event_name == 'pull_request' && format('ghcr.io/tzok/cli2rest-rnapolis:test') || '' }}
            ghcr.io/tzok/cli2rest-rnapolis:latest
            ghcr.io/tzok/cli2rest-rnapolis:${{ steps.get_version.outputs.version }}
          cache-from: type=gha,ref=ghcr.io/tzok/cli2rest-rnapolis:latest
          cache-to: type=gha,mode=max

      - name: Test Docker image
        if: github.event_name == 'pull_request' || steps.check_tag.outputs.should_build == 'true'
        run: |
          docker run --name cli2rest-rnapolis-test -d -p 8000 ghcr.io/tzok/cli2rest-rnapolis:test
          sleep 5 # Wait for container to start
          HOST_PORT=$(docker port cli2rest-rnapolis-test 8000 | cut -d: -f2)
          curl -s "http://localhost:$HOST_PORT/health" | grep '"status":"healthy"'

          pip install .
          curl -L -o 1ehz.pdb https://files.rcsb.org/download/1EHZ.pdb

          cli2rest-bio --api-url http://localhost:$HOST_PORT --output-metadata metadata.json src/cli2rest_bio/configs/rnapolis/config-splitter.yaml 1ehz.pdb
          if [ "$(jq -r .status metadata.json)" != "COMPLETED" ]; then
            echo "Test failed: Job status is not COMPLETED"
            cat metadata.json
            exit 1
          fi

          for f in rnapolis-1ehz-output.tar.gz; do
            if [ ! -f "$f" ]; then
              echo "Test failed: Output file $f is missing."
              ls -l
              exit 1
            fi
          done

          cli2rest-bio --api-url http://localhost:$HOST_PORT --output-metadata metadata.json src/cli2rest_bio/configs/rnapolis/config-annotator.yaml 1ehz.pdb
          if [ "$(jq -r .status metadata.json)" != "COMPLETED" ]; then
            echo "Test failed: Job status is not COMPLETED"
            cat metadata.json
            exit 1
          fi

          if [ ! -f "rnapolis-1ehz-output.json" ]; then
            echo "Test failed: Output file rnapolis-1ehz-output.json is missing."
            ls -l
            exit 1
          fi

          echo "Test passed: All output files created."

          docker stop cli2rest-rnapolis-test

