name: Build and Push cli2rest-maxit image

on:
  schedule:
    # Run daily at 1:00 UTC
    - cron: '0 1 * * *'
  workflow_dispatch:  # Allow manual triggering
  pull_request:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get latest MAXIT version
        id: maxit-version
        run: |
          LATEST_VERSION=$(curl -s https://sw-tools.rcsb.org/apps/MAXIT/maxit-latest-version.txt | tr -d '\n\r')
          echo "version=$LATEST_VERSION" >> $GITHUB_OUTPUT
          echo "Latest MAXIT version: $LATEST_VERSION"

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./maxit
          push: ${{ github.event_name != 'pull_request' }}
          load: true
          build-args: |
            MAXIT_VERSION=${{ steps.maxit-version.outputs.version }}
          tags: |
            ${{ github.event_name == 'pull_request' && format('ghcr.io/tzok/cli2rest-maxit:test') || '' }}
            ghcr.io/tzok/cli2rest-maxit:latest
            ghcr.io/tzok/cli2rest-maxit:${{ github.sha }}
            ghcr.io/tzok/cli2rest-maxit:${{ steps.maxit-version.outputs.version }}
          cache-from: type=gha,ref=ghcr.io/tzok/cli2rest-maxit:latest
          cache-to: type=gha,mode=max

      - name: Test Docker image
        run: |
          docker run --name cli2rest-maxit-test -d -p 8000 ghcr.io/tzok/cli2rest-maxit:test
          sleep 5 # Wait for container to start
          HOST_PORT=$(docker port cli2rest-maxit-test 8000 | cut -d: -f2)
          curl -s "http://localhost:$HOST_PORT/health" | grep '"status":"healthy"'

          pip install .
          curl -L -o 1ehz.pdb https://files.rcsb.org/download/1EHZ.pdb

          cli2rest-bio --api-url http://localhost:$HOST_PORT src/cli2rest_bio/configs/maxit/config-pdb2cif.yaml 1ehz.pdb

          for f in maxit-1ehz-output.cif maxit-1ehz-stdout.txt maxit-1ehz-stderr.txt; do
            if [ ! -f "$f" ]; then
              echo "Test failed: Output file $f is missing."
              ls -l
              exit 1
            fi
          done
          echo "Test passed: All output files created."

          docker stop cli2rest-maxit-test

